<h1>Advanced search</h1>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :genre_id %>
    <%= f.collection_select :genre_id, Genre.order(:genre), :id, :genre, include_blank: true %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
