<%= render 'shared/errors', obj: @movie %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for(@movie, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control", placeholder: "Title of movie", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :time %>
        </div>
          <div class="col-sm-8">
            <%= f.text_field :time, class: "form-control", placeholder: "Movie time", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">
            <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Movie description" %>
        </div>
       </div>
       <div class="form-group">
         <div class="control-label col-sm-2">
           <%= f.label :choose_genre %>
         </div>
         <div class="col-sm-8">
           <small><p>Hold CTRL for multiple select</p></small>
           <%= f.select :genre_ids, Genre.all.map {|gen| [gen.genre, gen.id]}, {}, multiple: true, include_blank: true %>
         </div>
       </div>

       <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
       </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4" align="center">
      [ <%= link_to 'Go Back', movies_path %> ]
    </div>
  </div>
</div>
